.space {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.background {
  background-color: #E5E5E5;
}
.blue{
  height: 8.67vw;
  background: linear-gradient(276.79deg, #4F65E1 9.64%, #4C81E8 100.49%), #4F65E1;
}
