.header-flex {
  display: flex;
  font-size: 1.25vw;
}
.fontsize {
  font-size: 1.25vw;
}
.mouse1{
  color:#C1C4CA;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.mouse1:hover{
  border-bottom: 4px solid #FFFFFF;
  color:#FAFBFD
}
.mouse2{
  color:#C1C4CA;
 
  font-family:PingFang SC;
  font-size:1.25vw;
  cursor: pointer;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
.mouse2:hover{
  color:#FAFBFD
}
.icon{
  color:#C1C4CA;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.icon:hover{
  color:#FAFBFD
}
.yc {

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1.25vw;

  color: #FFFFFF;
}

.imgWrapper {
  position: relative;
}
.upAvatar {
  position: absolute;
  top: -4.5vw;
  left: 0;
  width: 8.67vw;
  height: 8.67vw;
  background: rgba(0,0,0,.6);
  font-size: 1vw;
  color: #fff;
  line-height: 8.67vw;
  text-align: center;
  opacity: 0;
  border-radius: 50%;
  transition: opacity .2s;
}

.nav {
  display: flex;
}

.navItem {
  display: flex;
}

.navItem a {
  color: #FFFFFF;
}
