.dropdown {
    align-self: flex-start;
}


.dropbtn {
    background-color: white;
    padding: auto;
    margin: 0%;
    border: none;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #62686C;
    text-align: center;
    transition-duration: 0.4s;
}
  
  
.dropdown_content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    width: 46px;
}
  
  
.dropdown:hover .dropdown_content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #e7e7e7;
}

.dropdown:hover button{
    border: none;
}

.dropdown:hover button:hover{
    background-color: #e7e7e7;
    transition-duration: 0.4s;

}
