.WorkExperienceCard {
  display: flex;
  flex-direction: row;
  width: 90%;
  box-sizing: border-box;
  align-items: start;
  padding: 30px;
}

.WorkExperienceCard img {
  width: 65px;
  height: 65px;
}

.WorkInfo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.Position {
  font-family: PingFang SC;
  font-size: 16px;
  line-height: normal;
  color: #454f69;
}

.Employer {
  font-family: PingFang SC;
  font-size: 16px;
  line-height: normal;
  color: #454f69;
}

.TimeLocation {
  font-family: PingFang SC;
  font-size: 14px;
  line-height: normal;
  color: #8d9aaf;
}
