.leftCol {
  width: 50vw;
  height: 47.34vw;
  background-color: #FAFAFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImg {
  max-width: 20vw;
}

.rightCol {
  margin-top: 4vw;
  width: 50vw;
}

.selectedButton {
  color: #4F65E1;
  background: #F6F9FF;
  border: 1px solid #4F65E1;
  box-sizing: border-box;
  border-radius: 0.31vw;
  font-size: 1.1vw;
  font-family: PingFang SC;
  margin: 0.4vw;
}

.disableButton {
  border: 1px solid #DBE5F7;
  box-sizing: border-box;
  border-radius: 0.31vw;
  color: #8D9AAF;
  font-family: PingFang SC;
  font-size: 1.1vw;
  margin: 0.4vw;
}

.title {
  font-size: 1.41vw;
  font-weight: normal;
  line-height: normal;
  color: #8D9AAF;
  margin-top: 3.55vw;
}

.incTitle {
  font-family: PingFang SC;
  font-size: 3.75vw;
  line-height: normal;
  color: #454F69;
}

.userInput {
  background-color: #F6F9FF;
  border: 0;
  color: #31394D;
  font-family: PingFang SC;
  font-size: 1.1vw;
  width: 25.16vw;
  height: 3.1vw;
  margin: 0.4vw;
  padding: 1vw;
}

.eyeIcon {
  color: #616161;
  position: absolute;
  left: 24vw;
  top: 1vw;
}

.submitButton {
  color: #FFFFFF;
  background-color: #4F65E1;
  font-family: PingFang SC;
  font-size: 1.1vw;
  width: 25.16vw;
  height: 3.1vw;
  margin: 0.4vw;
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: 'PingFang SC';
  color: #B3C1DB;
}

.mainLoginInput:-ms-input-placeholder {
  font-family: 'PingFang SC';
  color: #B3C1DB;
}

.mainLoginInput:-moz-placeholder {
  font-family: 'PingFang SC';
  color: #B3C1DB;
}

.mainLoginInput::-moz-placeholder {
  font-family: 'PingFang SC';
  color: #B3C1DB;
}

.registerProps {
  color: #8d9aaf;
  font-size: 1.1vw;
  font-family: 'PingFang SC';
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 26.5vw;
  margin: 0.6vw;
}

.outterLoginIcon {
  color: #31394D;
  margin: 1.1vw;
}
