
.name{
  font-family: PingFang SC;
  font-size: 1.875vw;
  font-weight: bolder;
  line-height: normal;
  padding: 0;
  margin-bottom: 2.42vw;

  color: #FFFFFF;

}
.review{
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;
  padding: 0;

  color: #F0F3FA;
}
.logo{
  width: 8.05vw;
  height: auto;
}
.title{
  font-family: PingFang SC;
  font-size: 1.72vw;
  font-weight: bolder;
  line-height: normal;

  color: #31394D;

}
.subtitle{
  font-family: PingFang SC;
  font-size: 1.25vw;
  line-height: normal;

  color: #31394D;

}

.seemore{
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  text-align: end;
  margin-top: 1.5625vw;

  color: #4F65E1;
}
.imgWrapper {
  position: relative;
}
.upAvatar {
  position: absolute;
  top: -4.5vw;
  left: 0;
  width: 8.67vw;
  height: 8.67vw;
  background: rgba(0,0,0,.6);
  font-size: 1vw;
  color: #fff;
  line-height: 8.67vw;
  text-align: center;
  opacity: 0;
  border-radius: 50%;
  transition: opacity .2s;
}

