.moreAnswer {
  margin:1.56vw 0 1.17vw 0;
  font-family: PingFang SC;
  line-height: normal;
  font-size: 1.09vw;
  color:#8D9AAF;
}
.answerCount {
  margin-left: 1.95vw;
  font-family: PingFang SC;
  line-height: normal;
  color:#8D9AAF;
  font-size: 1.09vw;
}
.showMoreAnswer {
  width:100%;
  background-color:#FFFFFF;
  font-family: PingFang SC;
  line-height: normal;
  font-size: 1.09vw;
  color:#8D9AAF;
  text-align: center;
}
.wrapper {
  min-width: 66.15vw;
}
