.title {
  font-family: "PingFang SC";
  font-style: normal;
  font-weight: normal;
  font-style: 1.1vw;
  line-height: normal;
  color: #31394D;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.listGroupItems {
  border: 0;
  padding-top: 0;
  padding-bottom: 0.78vw;
}

.listGroupItemsTag {
  font-size: 1.41vw;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.listGroupItemsTag p {
  margin: 0;
}

.collectionIcon {
  color: #FFC93E;
  width: 1vw;
}

.collectionBtn {
  background-color: #4F65E1;
  box-shadow: none;
  border-radius: 0.78vw;
  border: 0;
  color: #FFFFFF;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.tagBtn {
  color: #4F65E1;
  background-color: #FFFFFF;
  border: #4F65E1 0.08vw solid;
  border-radius: 1.56vw;
  box-sizing: border-box;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding: 0.35vw 1vw;
}

.tagBtn:hover {
  color: #4F65E1;
  border: #4F65E1 0.08vw solid;
}

.tagBtnSelected {
  color: #FFFFFF;
  background-color: #4F65E1;
  border: #4F65E1 0.08vw solid;
  box-shadow: none;
  border-radius: 1.56vw;
  box-sizing: border-box;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding: 0.35vw 1vw;
}

.tagBtnSelected:hover {
  color: #FFFFFF;
  background-color: #4F65E1;
  border: #4F65E1 0.08vw solid;
}


