.WorkExperience {
  background: #FFFFFF;
  width: 79.69vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.56vw;
}

.row {
  width: 95%;
  height: 5vw;
  box-sizing: border-box;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2.11vw;
}

.addIcon {
  width: 1.25vw;
}

.addIcon:hover {
  cursor: pointer;
}

.SectionName {
  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.41vw;
  color: #454F69;
  margin: 0;
  flex-grow: 5;
  display: flex;
  justify-content: space-between;
}

.CornerButton {
  width: 45px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  color: #62686C;
  transition-duration: 0.4s;
  text-align: center;
  border: none;
}

.CornerButton:hover {
  background-color: #e7e7e7;

}

.MDBButton {
  width: 90%;
}
