.content{
  width: 26.4vw;
  padding:1.72vw 2.34vw;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  
}
.logo{
  width: 4.6875vw;
  height: auto;
}
.title{
  height:7vw ;
  font-family: PingFang SC;
  font-size: 1.25vw;
  font-weight: bolder;
  line-height: normal;

  color: #454F69;


}
.note{
  font-family: PingFang SC;
  margin-top: 0.78vw;
  font-size: 0.9375vw;
  line-height: normal;

  color: #454F69;

}
