.background {
  background-color: white;
}

.content {
  display: flex;
  height: 4vw;
  font-family: PingFang SC;
  font-size: 1.25vw;
  line-height: normal;
  text-align: center;
  padding-top: 1.35vw;
  margin-left: 32.875vw;
  color: #454F69;
}


.interval{
  margin-right: 4.2vw;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.interval:hover{
  border-bottom: 4px solid #4F65E1;
  color: #4F65E1
}
