.listGroupItems {
  border: 0;
  padding-top: 0;
  padding-bottom: 0.78vw;
}

.listGroupItemsTag {
  font-size: 1.41vw;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.listGroupItemsTag p {
  margin: 0;
}

.collectionIcon {
  color: #FFC93E;
  width: 1vw;
}

.collectionBtn {
  background-color: #4F65E1;
  box-shadow: none;
  border-radius: 0.78vw;
  border: 0;
  color: #FFFFFF;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.tagBtn {
  color: #4F65E1;
  background-color: #FFFFFF;
  border: #4F65E1 0.08vw solid;
  border-radius: 1.56vw;
  box-sizing: border-box;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding: 0.35vw 1vw;
}

.tagBtn:hover {
  color: #4F65E1;
  border: #4F65E1 0.08vw solid;
}

.tagBtnSelected {
  color: #FFFFFF;
  background-color: #4F65E1;
  border: #4F65E1 0.08vw solid;
  box-shadow: none;
  border-radius: 1.56vw;
  box-sizing: border-box;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding: 0.35vw 1vw;
}

.tagBtnSelected:hover {
  color: #FFFFFF;
  background-color: #4F65E1;
  border: #4F65E1 0.08vw solid;
}

/*因为使用了mdb的dropdown, 所以使用了一堆 !important...*/
.dropdownButton {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #4F65E1 !important;
  box-shadow: none;
  padding-top: 0.55vw !important;
  padding-bottom: 0.55vw !important;
  padding-left: 1.17vw !important;
  padding-right: 1.17vw !important;
}

.dropdownButton:hover {
  box-shadow: none;
}

.dropdownButton:active {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #4F65E1 !important;
  box-shadow: none;
}

.dropdownItems {
  color: #31394D !important;
  font-size: 1.09vw !important;
}

.filter {
  width: 1.09vw;
  margin-left: 0.2vw;
}

.jobCardBarRow {
  margin-bottom: 1.56vw;
  margin-left: 1.6vw;
}

.collectionSidebar {
  border-radius: 0.16vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  padding-top: 1.72vw;
  padding-bottom: 1.72vw;
  margin-bottom: 1.56vw;
}

.sideBar {
  margin-left: 1.56vw;
  width: 15.39vw;
  margin-top: 4vw;
  padding-right: 1.6vw;
}

.mainBody {
  min-height: 64vh;
  width: 66.17vw;
}
