.menu {
  min-width: 125px;
  position: absolute ;
  left: -37px !important;
  top: 227px;
  box-shadow: 0 12px 20px rgba(141, 154, 175, 0.15);
}

.dropdownItems.active,
.dropdownItems:active,
.dropdownItems:hover {
  color: white !important;
  background-color: #727272 !important;
}

.dropdownItems.active a,
.dropdownItems:active a,
.dropdownItems:hover a {
  color: white !important;
}
