.userSpan {
  margin-right: 0.78vw;
  padding: 0.39vw 0;
  color: #31394D;
  font-size: 1.25vw;
  font-family: PingFang SC;
  line-height: normal;
}
.timeSpan {
  padding: 0.39vw 0;
  color: #8D9AAF;
  justify-content: flex-start;
  font-size: 1.25vw;
  font-family: PingFang SC;
  line-height: normal;
}
.contentRow {
  color: #31394D;
  font-size: 14px;
  margin: 0;
  margin-top: 0.56vw;
  font-family: PingFang SC;
  line-height: normal;
  word-break: break-word;
}
