.wrapper {
  display: flex;
  justify-content: space-between;
}
.userSpan {
  margin-right: 0.78vw;
  padding: 0.39vw 0;
  color: #31394D;
  font-size: 1.25vw;
  font-family: PingFang SC;
  line-height: normal;
}
.timeSpan {
  padding: 0.39vw 0;
  color: #8D9AAF;
  justify-content: flex-start;
  font-size: 1.25vw;
  font-family: PingFang SC;
  line-height: normal;
}
.contentRow {
  color: #31394D;
  font-size: 14px;
  margin: 0;
  margin-top: 0.56vw;
  font-family: PingFang SC;
  line-height: normal;
  word-break: break-word;
}
.iconStyle {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.iconUl {
  position: absolute;
  top:20px;
  right: 10px;
}
.changeText {
  width: 100%;
  background: #FFFFFF;
  border: 0.078vw solid #DBE5F7;
  box-sizing: border-box;
  border-radius: .156vw;
  padding: .624vw 0 .624vw 1.562vw;
  font-size: 1.091vw;
  color: #B3C1DB;
  height: 5vw;
  font-family: PingFang SC;
  line-height: normal;
  max-length:150;
  resize:none
}
