.title{
  font-family: PingFang SC;
  font-size: 1.875vw;
  font-weight: bolder;
  line-height: normal;
  text-align: center;

  color: #454F69;
}

.note{
  font-family: PingFang SC;
  font-size: 1.09vw;
  margin-top: 1vw;
  line-height: normal;
  text-align: center;

  color: #8D9AAF;

}
.btn{
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  text-align: center;
  height: 100%;
 
  margin-top: 2vw;
  margin-left: 10.9vw;
  width: 10.06vw;
  padding: 0.7vw 1.5625vw;
  cursor: pointer;

  color: #FAFBFD;
  background: #4F65E1;
  border-radius: 4px; 
}
.btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-color: #eee;
  transition: all 0.2s ease-in-out;
}
.more{
  font-family: PingFang SC;
  font-size: 1.406vw;
  font-weight: bolder;
  margin-top: 3.125vw;
  margin-bottom: 2.03vw;
  line-height: normal;

  color: #454F69;

}
