.SkillCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    padding: 5px 0;
}

.SkillCard input {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #62686C;
    margin: 3px 0;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid #e7e7e7
}

.SkillCard input:disabled {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid white
}

.oneP {
    padding: 1px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid white
  }

.SkillCard img {
    height: 30px;
    width: 30px;
}

.SkillInfo {
    margin-left: 20px;
    height: 90%;
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.SkillInfo p{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #62686C;
    margin: 0%;
}