.answerWrapper {
  display:flex;
  margin-top:2.34vw;
}
.answerWrapper2 {
  flex-grow:0;
}
.sideBar {
  width:100%;
  margin-top:2.73vw;
  margin-right:0;
}
.addMore {
  margin-top: 2.65vw;
  width: 66.15vw;
  height:17.6vw;
  border-radius: 1.09vw;
  background-color: #FFFFFF;
  display: flex;
  align-content: center;
  justify-content: center;
}
.pStyle {
  margin-left: .78vw;
  font-size: 1.09vw;
  color:#8590a6;
  font-family: PingFang SC;
  line-height: normal;
}
