.CertificationCard {
  display: flex;
  flex-direction: row;
  width: 90%;
  box-sizing: border-box;
  padding: 5px 0;
  align-items: center;
  border-bottom: 1px solid grey;
}

.CertificationCard input {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #62686c;
  margin: 3px 0;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid #e7e7e7;
}

.CertificationCard input:disabled {
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid white;
}

.twoP {
  margin: 3px 0;
  padding: 1px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid white
}

.CertificationCard img {
  height: 65px;
  width: 65;
}

.certifiInfo {
  margin-left: 20px;
  height: 90%;
  width: 590px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.certifiInfo p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #62686c;
  margin: 0%;
}

.Title {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;

  color: #62686c;
  margin-right: 5px;
  margin-bottom: 0%;
}

.Institute,
.Description {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #62686c;
  margin: 0%;
}

.certifiInfo div {
  display: flex;
  flex-direction: row;
}
