.title{
  font-family: PingFang SC;
  font-size: 1.875vw;
  font-weight: bolder;
  line-height: normal;
  margin-top:2.34vw;
  margin-bottom:1.56vw;


  color: #454F69;

}
.btn{
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  text-align: center;
  color: #FAFBFD;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.7vw 1.5625vw;
  cursor: pointer;

  background: #13D0A2;
  border-radius: 4px;
  margin-top:2.34vw;
  margin-bottom:1.56vw;
}
.btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-color: #eee;
  transition: all 0.2s ease-in-out;
}
.blue-text{
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  margin-bottom:1.56vw;
  

  color: #4F65E1;
}
