.content {
  color: #454F69;
  display: flex;
  font-size: 1.25vw;
  height: 4vw;
  line-height: normal;
  padding-top: 1.35vw;
  text-align: center;
}

.interval {
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.interval:hover {
  border-bottom: 4px solid #4F65E1;
}

.interval-selected {
  border-bottom: 4px solid #4F65E1;
}

.interval-text {
  color: #000000;
}

.interval-text:hover {
  color: #4F65E1;
  font-weight: bolder;
}

.interval-text-selected {
  color: #4F65E1;
  font-weight: bolder;
}

.interval-text-selected:hover {
  color: #4F65E1;
  font-weight: bolder;
}
