.btn {
  background: #F0F3FA;
  border-radius: 1.56vw;
  border: 0;
  color: #454f69;
  font-family: "PingFang SC";
  font-size: 0.94vw;
  line-height: normal;
  text-align: center;
  margin: 0.4vw;
}
