.btn {
  background: #f0f3fa;
  border-radius: 1.56vw;
  border: 0;
  color: #454f69;
  font-family: 'PingFang SC';
  font-size: 0.94vw;
  line-height: normal;
  text-align: center;
  margin: 0.4vw;
}

.AddingCard {
  width: 30%;
}

.Chip {
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;
  color: #454f69;
}
