.listGroupItems {
  border: 0;
  color: #31394D;
  font-size: 1.1vw;
  padding-top: 0;
  padding-bottom: 0.78vw;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
}

.listGroupItems p {
  margin-left: 1.1vw;
}

.radioForm div {
  padding-left: 0.9vw;
  padding-right: 0.9vw;
}

.listGroupItemsTag {
  font-size: 1.41vw;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.listGroupItemsTag p {
  margin: 0;
}

.listGroupItemsSecondTag {
  color: #31394D;
  font-size: 1.1vw;
  font-weight: 500;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.listGroupInput {
  background: #FFFFFF;
  border: 0.08vw solid #DBE5F7;
  box-sizing: border-box;
  border-radius: 0.16vw;
  display: block;
  width: 10vw;
  padding: 0.4vw;
  margin-left: 1.1vw;
}

.listGroupInput::-webkit-input-placeholder {
  font-size: 1.1vw;
  color: #B3C1DB;
}

.listGroupInput:-moz-placeholder { /* Firefox 18- */
  font-size: 1.1vw;
  color: #B3C1DB;
}

.listGroupInput::-moz-placeholder { /* Firefox 19+ */
  font-size: 1.1vw;
  color: #B3C1DB;
}

.listGroupInput:-ms-input-placeholder {
  font-size: 1.1vw;
  color: #B3C1DB;
}

.listGroupInput:focus {
  box-shadow: 0 0;
  border: 0;
}


