.inputStyle::placeholder {
  font-family: PingFang SC;
  font-size: 36px;
  line-height: normal;
  color: #C1C4CA;
}
.inputStyle {
  font-family: PingFang SC;
  font-size: 36px;
  line-height: normal;
  padding:0;
  margin:0;
  border-width: 0;
  width: 100%;
}
