/*因为使用了mdb的dropdown, 所以使用了一堆 !important...*/
.dropdownButton {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #4F65E1 !important;
  box-shadow: none;
  padding-top: 0.55vw !important;
  padding-bottom: 0.55vw !important;
  padding-left: 1.17vw !important;
  padding-right: 1.17vw !important;
}

.dropdownButton:hover {
  box-shadow: none;
}

.dropdownButton:active {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #4F65E1 !important;
  box-shadow: none;
}

.dropdownItems {
  color: #31394D !important;
  font-size: 1.09vw !important;
}

.filter {
  width: 1.09vw;
  margin-left: 0.2vw;
}
