.title{
  font-family: PingFang SC;
  font-size: 1.875vw;
  font-weight: bolder;
  line-height: normal;
  margin-top:2.34vw;
  margin-bottom:2.66vw;
  

  color: #454F69;

}

.tabtitle{
  font-family: PingFang SC;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 0.78vw;

  color: #8D9AAF;

}
