body {
  margin: 0;
  padding: 0;
}

.cell-wall {
  display: flex;
  justify-content: center;
}

/*
  MOBILE

  device: < 480px
*/
@media screen and (max-width: 480px) {
  .cell-membrane {
    flex-basis: 90vw;
  }
}

/*
  DESKTOP

  device: > 480px
*/
@media screen and (min-width: 480px) {
  .cell-membrane {
    flex-basis: 83.125vw;
  }
}