.content{
  display: flex;
  height: 6.56vw;
  width: 40.625vw;
  padding: 1.17vw 1.5625vw;
  background: #FFFFFF;
  border-radius: 4px;
  align-items: start;
 
}
.content:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-color: #eee;
  transition: all 0.2s ease-in-out;
}

.name{
  font-family: PingFang SC;
  font-size: 1.25vw;
  font-weight: bolder;
  margin-left: 2.11vw;
  line-height: normal;

  color: #454F69;

}
.tag{
  margin-left: 2.11vw;
  margin-top: 0.92vw;
  background: #F0F3FA;
  border-radius: 0.74vw;
  font-family: PingFang SC;
  font-size: 0.93vw;
  line-height: normal;
  width: 5.3vw;
  text-align: center;
  

  color: #4F65E1;

}
.bg{
  
  background-image: url("./Shape.png");
  background-repeat:no-repeat;
  width: 5.47vw;
  height: 4.375vw;
  text-align: center;
}
