.content{
  width: 26.4vw;
  padding:1.72vw 2.34vw;
  background: #FFFFFF;
  border: 1px solid #F0F3FA;
  box-sizing: border-box;
  border-radius: 2px;
  
}
.logo{
  width: 4.6875vw;
  height: auto;
}
.title{
  font-family: PingFang SC;
  font-size: 1.41vw;
  font-weight: bolder;
  line-height: normal;

  color: #454F69;


}
.avatar{
  width:1.5625vw;
  height:1.5625vw;
}
.people{
  font-family: PingFang SC;
  margin-top: 1.38vw;
  font-size: 1.09vw;
  line-height: normal;

  color: #454F69;
}
.answer{
  font-family: PingFang SC;
  margin-top: 1.17vw;
  font-size: 1.09vw;
  line-height: normal;

  color: #8D9AAF;

}
.role{
  background: #F0F3FA;
  border-radius: 1.5625vw;
  margin-top: 1.38vw;
  margin-left: 1.17vw;
  font-family: PingFang SC;
  font-size: 0.9375vw;
  line-height: normal;

  color: #4F65E1;


}
