.dropdownItems {
  height: 40px;
}

.dropdownItems p {

}

.searchInput {
  margin-bottom: 0;
  border: 0;
}

.searchInput::-webkit-input-placeholder {
  color: #DBE5F7;
  /*opacity: 1 !important;*/
}

.searchInput:-moz-placeholder { /* Firefox 18- */
  color: #DBE5F7;
  /*opacity: 1 !important;*/
}

.searchInput::-moz-placeholder {  /* Firefox 19+ */
  color: #DBE5F7;
  /*opacity: 1 !important;*/
}

.searchInput:-ms-input-placeholder {
  color: #DBE5F7;
}

/*取消外边框*/
.searchInput:focus {
  box-shadow: 0 0;
}

.searchIcon .prefix.active{
  color: #DBE5F7;
}

.searchIcon {
  color: #DBE5F7;
}


