.listGroupItems {
  border: 0;
  padding-top: 0;
  padding-bottom: 0.78vw;
}

.listGroupItemsTag {
  font-size: 1.41vw;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.listGroupItemsTag p {
  margin: 0;
}

.listGroupItemsInsight {
  color: #4F65E1;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding-top: 0.86vw;
  padding-bottom: 0.86vw;
}

.listGroupItemsInsight:hover {
  color: #4F65E1;
}

.tagBtn {
  color: #4F65E1;
  background-color: #FFFFFF;
  border: #4F65E1 0.08vw solid;
  box-shadow: none;
  border-radius: 1.56vw;
  box-sizing: border-box;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding: 0.5vw 1vw;
}

.tagBtn:hover {
  color: #4F65E1;
  border: #4F65E1 0.08vw solid;
}

.tagBtnSelected {
  color: #FFFFFF;
  background-color: #4F65E1;
  border: #4F65E1 0.08vw solid;
  box-shadow: none;
  border-radius: 1.56vw;
  box-sizing: border-box;
  font-size: 0.93vw;
  font-family: "PingFang SC";
  padding: 0.5vw 1vw;
}

.tagBtnSelected:hover {
  color: #FFFFFF;
  background-color: #4F65E1;
  border: #4F65E1 0.08vw solid;
}

.cardBarRow {
  margin-bottom: 1.56vw;
  margin-left: 1.6vw;
}

.sideBar {
  padding-left: 1.56vw;
  width: 15.39vw;
}

.sidebarIcon {
  width: 1.09vw;
  margin-right: 0.75vw;
}

.mainBody {
  min-height: 64vh;
  width: 66.17vw;
}
