.content{
  width: 26.4vw;
  padding:1.72vw 2.34vw;
  background: #FFFFFF;
  border: 1px solid #F0F3FA;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(141, 154, 175, 0.15);
  border-radius: 2px;
  
}
.logo{
  font-family: PingFang SC;
  font-size: 1.875vw;
  font-weight: bolder;
  line-height: normal;

  color: #454F69;

}
.note{
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;
  margin-top: -1vw;

  color: #454F69;

}
.avatar{
  width:1.5625vw;
  height:1.5625vw;
}
 .people{
   font-family: PingFang SC;
   font-size: 1.09vw;
   line-height: normal;
    margin-left: 0.7vw;
   color: #454F69;

 }
 .tag{
   background: #F0F3FA;
   margin-left: 1.33vw;
   border-radius: 1.5625vw;
   font-family: PingFang SC;
   font-size: 0.78vw;
   line-height: normal;

   color: #4F65E1;

 }
