.page-container:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.page-container {
  zoom: 1;
  padding-left: 0;
}
.page-container li {
  list-style: none;
  float: left;
  padding: 0.234vw;
  cursor: pointer;
  height:1.953vw;
  width:1.953vw;
  border: 0.078vw solid #DBE5F7;
  box-sizing: border-box;
  box-shadow: 0 0.078vw 1.565vw rgba(141, 154, 175, 0.15);
  border-radius: 0.156vw;
  font-family: PingFang SC;
  line-height: normal;
  font-size: 1.093vw;
  text-align: center;
  color: #8D9AAF;
}

.page-container li:last-child {
  margin-right: 0;
}

/*当前页样式*/
.activePage {
  padding:.234vw!important;
  height:1.953vw!important;
  width:1.953vw!important;
  border: 0.078vw solid #333B4F!important;
  box-sizing: border-box!important;
  box-shadow: 0 0.078vw 1.565vw rgba(141, 154, 175, 0.15)!important;
  border-radius: .156vw!important;
  font-family: PingFang SC!important;
  line-height: normal!important;
  font-size: 1.093vw!important;
  text-align: center!important;
  color: #31394D!important;
}

/*没有上一页和下一页时样式*/
.nomore {
  border: 0.078vw solid #DBE5F7!important;
  box-sizing: border-box!important;
  box-shadow: 0 0.078vw 1.565vw rgba(141, 154, 175, 0.15)!important;
  border-radius: .156vw!important;
  font-family: PingFang SC!important;
  line-height: normal!important;
  font-size: 1.093vw!important;
  text-align: center!important;

  color: #8D9AAF!important;
}
.Pagenomore {
  list-style: none!important;
  float: left!important;
  padding:.234vw!important;
  height:1.953vw!important;
  width:3.906vw!important;
  border: none!important;
  box-sizing: border-box!important;
  box-shadow: none!important;
  border-radius: .156vw!important;
  font-family: PingFang SC!important;
  line-height: normal!important;
  font-size: 1.093vw!important;
  text-align: center!important;
  color: #31394D!important;
}
.changePage {
  list-style: none!important;
  float: left!important;
  padding:.234vw!important;
  height:1.953vw!important;
  width:3.906vw!important;
  border:none!important;
  box-sizing: border-box!important;
  box-shadow: none!important;
  border-radius: .156vw!important;
  font-family: PingFang SC!important;
  line-height: normal!important;
  font-size: 1.093vw!important;
  text-align: center!important;
  color: #31394D!important;
}
