.api{
  position:absolute;
  z-index: 100;
  color:red;
  font-size: 15vw;
}
.content{
  display: flex;
  padding: 1.02vw 0;
  background: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}
.content:hover{
  background: #F0F3FA;
}
.job{
  width:26.17vw ;
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  
  margin-left: 3.125vw;

  color: #454F69;

}

.company{
  width: 16.875vw;
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  
  padding-left: 0.42vw;

  color: #454F69;

}

.location{
  width: 12.266vw;
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;

  padding-left: 1.17vw;

  color: #454F69;

}
 
.date{
  width:10.234vw;
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;

  color: #454F69;

}


.reviewed{
  width: 5.3vw;
  background: #F0F3FA;
  border-radius: 20px;

  font-family: PingFang SC;
  font-size: 0.93vw;
  line-height: normal;
  text-align: center;

  color: #4F65E1;
}
.pendingReview{
  width: 5.3vw;
  background: #F0F3FA;
  border-radius: 20px;
  
  font-family: PingFang SC;
  font-size: 0.93vw;
  line-height: normal;
  text-align: center;

  color: #8D9AAF;

}
.pass{
  width: 5.3vw;
  background: #ECFAFB;
  border-radius: 20px;

  font-family: PingFang SC;
  font-size: 0.93vw;
  line-height: normal;
  text-align: center;

  color: #2ADFB3;

}
.interviewed{
  width: 5.3vw;
  background: #F0F3FA;
  border-radius: 20px;

  font-family: PingFang SC;
  font-size: 0.93vw;
  line-height: normal;
  text-align: center;

  color: #4F65E1;
}
.nopass{
  width: 5.3vw;
  font-family: PingFang SC;
  font-size: 0.93px;
  line-height: normal;
  text-align: center;

  color: #B3C1DB;

}
