.content{
  margin-top: 1.5vw;
  width: 66.4vw;
  padding:1.56vw 2.42vw ;
  
  background: #FFFFFF;
}
.name {
  font-family: PingFang SC;
  font-size: 1.72vw;
  font-weight: bolder;
  line-height: normal;

  color: #31394D;
}
.note{
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: 1.95vw;
  margin-left: 0.55vw;

  color: #31394D;

}
.titlebolder{
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  width: 6.54vw;
  margin-left: 0.55vw;
  margin-right: 2.5vw;
  color: #31394D;

}

.title{
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;
  width: 6.54vw;
  color: #31394D;

}
