.wrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #31394D;
  font-size: 1.406vw;
  font-family: PingFang SC;
  line-height: normal;
}
.iconStyle {
  justify-content: flex-end;
}
.ellipsis {
  flex-grow:1;
  display: flex;
  justify-content: flex-end;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
