.mdbCol {
  padding: 1.95vw 0 1.56vw 10.15vw;
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
}
.titleWrapper{
  margin-left: 0; 
  display: flex;
}
.tagWrapper {
  flex-grow: 0;
}
.viewIcon {
  margin-right: 0.78vw;
}
.readingColor {
  color: #31394D;
}
.btnStyle {
  background: #F0F3FA;
  border: 0 none;
  border-radius: 1.09vw;
  color: #4F65E1;
  font-size: 1.09vw;
  padding: 0.39vw 1.17vw;
  margin-right:0.39vw;
  font-family: PingFang SC;
  line-height: normal;
}
.viewSpanStyle {
  background: #F0F3FA;
  border-radius: 0.31vw;
  color: #8D9AAF;
  padding: 0.39vw 1.56vw;
}
.readingWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.questionTitle {
  color: #31394D;
  font-size: 1.87vw;
  font-family: PingFang SC;
  line-height: normal;
}
.btnAnswer {
  padding: .7vw 0.93vw;
  color:#FFFFFF;
  background: #4F65E1;
  font-size: 1.25vw;
  font-family: PingFang SC;
  line-height: normal;
  margin-right:0.78vw;
  text-align: center;
  border:.078vw solid #4F65E1;
  border-radius: .156vw;
}
.btnFocus {
  padding: .7vw .93vw;
  color:#4F65E1;
  background: #FFFFFF;
  font-size: 1.25vw;
  font-family: PingFang SC;
  line-height: normal;
  margin-right:1.56vw;
  text-align: center;
  border: .078vw solid #4F65E1;
  border-radius: .156vw;
}
.btnOthers{
  border:none;
  font-family: PingFang SC;
  line-height: normal;
  color:#8D9AAF;
  font-size:1.09vw;
  padding:.78vw 1.56vw;
}
.btnIcon{
  margin-right:.78vw;
}
.btnOthersActive {
  border:none;
  font-family: PingFang SC;
  line-height: normal;
  color:red;
  font-size:1.09vw;
  padding:.78vw 1.56vw;
}
.richText img {
  max-width: 500px;
}
