.mdbCol {
  padding-left: 130px; 
  padding-right: 0;
}
.titleWrapper{
  margin-left: 0; 
  display: flex;
}
.tagWrapper {
  flex-grow: 0;
}
.viewIcon {
  margin-right: 5px;
}
.readingColor {
  color: #31394D;
}
.btnStyle {
  background: #F0F3FA;
  border: 0 none;
  border-radius: 14px;
  color: #4F65E1;
  font-size: 14px;
  padding: 5px 15px;
  margin-right:5px;
  font-family: PingFang SC;
  line-height: normal;
}
.viewSpanStyle {
  background: #F0F3FA;
  border-radius: 4px;
  color: #8D9AAF;
  padding: 5px 20px;
}
.readingWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.questionTitle {
  color: #31394D;
  font-size: 24px;
  font-family: PingFang SC;
  line-height: normal;
}
.questionDetail {
  color:#8D9AAF;
  font-size:16px;
}
.btnAnswer {
  padding: 9px 12px;
  color:#FFFFFF;
  background: #4F65E1;
  font-size: 16px;
  font-family: PingFang SC;
  line-height: normal;
  margin-right:10px;
  text-align: center;
  border:1px solid #4F65E1;
  border-radius: 2px;
}
.btnFocus {
  padding: 9px 12px;
  color:#4F65E1;
  background: #FFFFFF;
  font-size: 16px;
  font-family: PingFang SC;
  line-height: normal;
  margin-right:20px;
  text-align: center;
  border: 1px solid #4F65E1;
  border-radius: 2px;
}
.btnOthers{
  border:none;
  font-family: PingFang SC;
  line-height: normal;
  color:#8D9AAF;
  font-size:14px;
  padding:5px 10px;
}
.btnIcon{
  
}

