.content{
  display: flex;
 
  width: 25.55vw;
  padding: 1.17vw 1.5625vw;
  background: #FFFFFF;
  border-radius: 4px;
  align-items: center;
  
 
}
.content:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-color: #eee;
  transition: all 0.2s ease-in-out;
}
.logo{
  width: 6.79vw;
}
.title{
  font-family: PingFang SC;
  font-size: 1.4vw;
  font-weight: bolder;
  line-height: normal;

  color: #454F69;
}
.text{
  font-family: PingFang SC;
  font-size: 0.93vw;
  line-height: normal;

  color: #8D9AAF;
}
.blue-text{
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  cursor: pointer;
  color: #4F65E1;
}
.blue-text:hover{
  
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
