.SocialActivityCard{
    display: flex;
    flex-direction: row;
    width: 90%;
    box-sizing: border-box;
    padding: 5px 0;
    align-items: center;
    border-bottom: 1px solid grey
}

.SocialActivityCard img {
    height: 65px;
    width: 65;
}

.SocialActivityCard input {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #62686C;
    margin: 3px 0;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid #e7e7e7
}

.SocialActivityCard input:disabled {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid white;
}

.twoP {
    padding: 1px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid white
  }

.ActivityInfo {
    margin-left: 20px;
    height: 90%;
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.ActivityInfo p{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #62686C;
    margin: 0%;
}

.ActivityInfo div{
    display: flex;
    flex-direction: row;
}
