.mdbRow {
  margin: 0.781vw 0; 
  display:flex;
}
.title {
  flew-grow:0;
}
.imgStyle {
  width: 2.5vw;
  background: #F4F4F4;
  margin-right:0.859vw
}
.user {
  margin-right: 0.781vw;
  padding: 0.781vw 0;
  color: #31394D;
  font-size: 1.093vw;
  font-family: PingFang SC;
  line-height: normal;
}
.description {
  padding: 0.781vw 0;
  color: #8D9AAF;
  font-size: 1.093vw;
  font-family: PingFang SC;
  line-height: normal;
}
.ellipsis {
  flex-grow:1;
  display: flex;
  justify-content: flex-end;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.short {
  color: #31394D; 
  font-size: 1.093vw;
  font-family: PingFang SC;
  line-height: normal;
}
.showMore {
  color: #4F65E1;
  font-size: 1.093vw;
  margin: 0.781vw 0 0 0;
  list-style: none;
  padding: 0;
  font-family: PingFang SC;
  line-height: normal;
}
.moreDetail {
  color: #31394D;
  font-size: 1.093vw;
  font-family: PingFang SC;
  line-height: normal;
}
.richText p {
  word-break: break-word;
}
.iconUl {
  position: absolute;
  top:20px;
  z-index: 20;
}
